* {/*所有元素*/
    padding: 0%;
    margin: 0%;
}

h2 {
    margin: 10px;
    color:gold;
    text-align: center;
}

.index {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px 30px;
    gap:30px   /*  flex布局中 使用  gap来控制  各元素之间的间隔*/
}

.index img {
    width: 20px;
    height: 20px;
}
.index a {
    color:limegreen
    
}


.finalsay {
    color: white;/*文字颜色*/
    display: flex;/*flex布局  列模式，居中*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;/*背景色*/
}